<?xml version='1.0' encoding='utf-8'?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-uwebview"
    version="2.0.0">
    <name>UWebView</name>    
    <engines>
            <engine name="cordova" version=">=3.0.0" />
    </engines>
    <js-module src="www/uwebview.js" name="uwebview">
        <clobbers target="window.UWebView" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="UWebView">
                <param name="android-package" value="com.udev.uwebview.CordovaGeckoView" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <framework custom="true" src="src/android/build-extras.gradle" type="gradleReference"/>
        <config-file parent="/manifest" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
        </config-file>
 
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/java/com/udev/uwebview/CordovaGeckoView.java" target-dir="src/com/udev/uwebview" />
        <source-file src="src/android/java/com/udev/uwebview/GeckoViewActivity.java" target-dir="src/com/udev/uwebview" />
        <source-file src="src/android/java/com/udev/uwebview/GeckoViewRemoteVideoPlayer.java" target-dir="src/com/udev/uwebview" />        
        <source-file src="src/android/res/layout/u_geckoview_layout.xml" target-dir="res/layout" />
        <source-file src="src/android/res/layout/u_cordovageckview.xml" target-dir="res/layout" />      
        <source-file src="src/android/res/layout/u_geckoview_remote_video.xml" target-dir="res/layout" />     
        <!-- <source-file src="src/android/res/raw/geckoview_remote_video_player.html" target-dir="res/raw" />    -->
  
        <source-file src="src/android/assets/messaging/.eslintrc.js" target-dir="assets/messaging" />  
        <source-file src="src/android/assets/messaging/background.js" target-dir="assets/messaging" />   
        <source-file src="src/android/assets/messaging/content.js" target-dir="assets/messaging" />  
        <source-file src="src/android/assets/messaging/manifest.json" target-dir="assets/messaging" />   

        <source-file src="src/android/assets/uvideo/blank.mp4" target-dir="assets/uvideo" />
        <source-file src="src/android/assets/uvideo/u_video_player.html" target-dir="assets/uvideo" />
        <source-file src="src/android/res/raw/u_video_player.html" target-dir="res/raw" />  
           <source-file src="src/android/assets/uvideo/plyr.svg" target-dir="assets/uvideo" />
    </platform>
</plugin>
 